	body {
		background-color: rgba(230,230,230,255)
	}
	.DMButton {
		position:absolute;
		transform:translate(-50%,-50%);
		left:4%;
		top:97%;
		font-size: 20px;
		font-family:verdana;
		user-select:none;
		color:rgba(200,200,200,255);
	}
	.Canvas {
		position:absolute;
		top:40%;
		left:50%;
		transform: translate(-50%,-50%);
		box-shadow: 0 0 16px 2px rgba(0,0,0,0.4);
		background-color: #FFF;
	}
	.Title {
		font-family: verdana;
		font-size: 60px;
		text-align: center;
		user-select: none;
		color:rgba(200,200,200,255);
		position:absolute;
		left:50%;
		top:70%;
		transform: translate(-50%, -50%);
	}
	.Link {
		font-family: verdana;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		user-select: none;
		color:rgba(200,200,200,255);
		position:absolute;
		left:50%;
		top:94%;
		transform: translate(-50%,-50%);
	}
